@using Obligatorio1;
@model dynamic;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@ViewBag.error

@{
    List<Post> posts = ViewBag.PostFiltrados ?? new List<Post>();
    List<Comentario> comentarios = ViewBag.ComentariosFiltrados ?? new List<Comentario>();
}

<h1>Resultados de la búsqueda</h1>

@if (!posts.Any() && !comentarios.Any())
{
    <p>
        No existen resultados 😔
    </p>
}
else
{
    if (posts.Any())
    {
        <h2>POST: </h2>
        @foreach (Post unPost in posts)
        {
            <div class="UnaLinea">
                <h4>@unPost.Titulo</h4>
                <p>@unPost.Contenido</p>
                <p><em>Autor: @unPost.Miembro.Nombre @unPost.Miembro.Apellido</em></p>
                <p>VA: @unPost.VA</p>
            </div>
        }
    }

    if (comentarios.Any())
    {
        <h2>COMENTARIOS: </h2>
        @foreach (Comentario comentario in comentarios)
        {
            <div>
                <h5>@comentario.Titulo</h5>
                <p>@comentario.Contenido</p>
                <p><em>Autor: del Comentario: @comentario.Miembro.Nombre @comentario.Miembro.Apellido</em></p>
                <p>VA: @comentario.VA</p>
            </div>
        }
    }

}

<style>
    .UnaLinea {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
</style>