@using Obligatorio1;

@model Sistema;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@ViewBag.error


    @{
        List<Publicacion> publicaciones = ViewData["Posts"] as List<Publicacion>;
        List<Comentario> comentarios = ViewData["Comentarios"] as List<Comentario>;
    }
    @if (publicaciones != null)
    {
        @foreach (var unaPub in publicaciones)
        {
            
            <div>
                <div class="UnaLinea">
                    <h3>@unaPub.Titulo</h3>
                    <p>Fecha: @unaPub.Fecha.ToShortDateString()</p>
                    <p>@unaPub.Contenido</p>
                    <p><em>Autor: @unaPub.Miembro.Nombre @unaPub.Miembro.Apellido</em></p>
                </div>

                @if (comentarios != null)
                {
                    @foreach (Comentario comentario in comentarios)
                    {
                        @if (comentario.Post == unaPub)
                        {
                            <div>
                                <p>Comentario: @comentario.Titulo</p>
                                <p>@comentario.Contenido</p>
                                <p>Fecha del Comentario: @comentario.Fecha.ToShortDateString()</p>
                                <p>Autor del Comentario: @comentario.Miembro.Nombre @comentario.Miembro.Apellido</p>
                            </div>
                        }
                    }
                }

            </div>
            
        }
    }

<style>
    .UnaLinea{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
    }
</style>